<h1>Listing Datos básicos del home</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Título</th>
      <th>Sección</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="list">
    <% @datosbasicos.each do |datosbasico| %>
      <tr>
        <td><%= datosbasico.titulo %></td>
        <td><%= datosbasico.seccion %></td>
        <td><%= datosbasico.descripcion %></td>
        <td><%= link_to 'Show', datosbasico %></td>
        <td><%= link_to 'Edit', edit_datosbasico_path(datosbasico) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dato básico', new_datosbasico_path %>
