<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography, cols: "100", rows: "10" %>
  </div>
    <div class="row">
      <div class="col-md-3">
    <%= f.label :death_date %><br>
    <%= f.date_field :death_date, :class => 'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :beatification_date %><br>
    <%= f.date_field :beatification_date, :class => 'form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.label :canonization_date %><br>
    <%= f.date_field :canonization_date, :class => 'form-control'  %>
  </div>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
