<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="font-family: Gotham-Light; font-weight: bolder"><%=@tacerca%></h2>
        <h3 class="section-subheading text-muted" style="font-family: Gotham-Light; font-weight: bolder"><%=@acerca%></h3>
      </div>
    </div>
  <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/Proyecto.jpg' %>" alt="">
            </div>
            <div class="timeline-panel credits">
              <div class="timeline-heading">
                <h4 style="font-family: Gotham-Light; font-weight: bolder"><%=@tproyecto%></h4>
                <!--<h4 class="subheading">PROYECTO ARCA (Arte Colonial Americano)</h4>-->
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="font-family: Gotham-Light; font-weight: bolder"><%=@proyecto%></p>
              </div>
            </div>
            <div class="timeline-panel2 debits">
              <div class="timeline-heading">
                <h4 class="debit" align="left" style="font-family: Gotham-Light; font-weight: bolder"><%=@tproposito%></h4>
                <!--<h4 class="subheading">An Agency is Born</h4>-->
              </div>
              <div class="timeline-body">
                <p class="debit" align="left"  style="font-family: Gotham-Light; font-weight: bolder"><%=@proposito%></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="<%= image_url 'about/espacio.jpg' %>" alt="">
            </div>
            <div class="timeline-panel credits">
              <div class="timeline-heading" style="font-family: Gotham-Light; font-weight: bolder">
                <h4 style="font-family: Gotham-Light; font-weight: bolder"><%=@tespacio%></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted" style="font-family: Gotham-Light; font-weight: bolder"><%=@espacio%></p>
              </div>
            </div>
            <div class="timeline-panel2 debits">
              <div class="timeline-heading">
                <h4 class="debit" align="left" style="font-family: Gotham-Light; font-weight: bolder"><%=@tconjunto%></h4>
              </div>
              <div class="timeline-body">
                <p class="debit" align="left" style="font-family: Gotham-Light; font-weight: bolder"><%=@conjunto%></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>